__pycache__
Manuscript_Main_Figures/PaperFig1.ipynb
Manuscript_Main_Figures/PaperFig2.ipynb
Manuscript_Main_Figures/PaperFig3.ipynb
Misc/sentinel3_sral_products_20160921_20230430.parquet
MWR_Preprocessing/ATMCorrectionScale.py
MWR_Preprocessing/AtmosCorrectionSupplement.ipynb
MWR_Preprocessing/era5_4_rttov_gc.py
MWR_Preprocessing/era5_ml2pl_table.csv
MWR_Preprocessing/era5_var_names.csv
MWR_Preprocessing/sentinel3_rttov_operation.py
MWR_Preprocessing/tb_tiepoints.py
SRAL_Preprocessing/pysiral_ku_features.py
SRAL_Preprocessing/WaveformFeatures.ipynb
test
tools/auxiliary_dl.py
tools/common_functions.py
tools/S3_SITHEM_DL.py
